

body{
    background-position: center;
    background-size: cover;
    height: 110vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(contact.jpg);
    position: relative;
    overflow-x: hidden;
}

.nav-links ul{
    margin-left:10px;
    display:inline;
} 
.nav-links ul li{
       position: relative;
       list-style: none;
       display:inline;
       padding:8px 15px;
}
.nav-links ul a{
   color:tomato;
   text-decoration: none;
   background: scroll;
   font-size: 20px;
}  



 

form{
    width: 430px;
    margin: 60px auto;
}
input,textarea{
    color: lightcyan;
    background-color: transparent;
    border: 2px solid darkturquoise;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    font-family: ;
}
form::placeholder{
    color: darkturquoise;
}
textarea{
    height: 130px;
    resize: vertical;
}
.submit{
    width: 100%;
    padding: 10px 00;
    font-size: 20px;
    background-color: darkturquoise;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.5;
}
.submit:hover{
    opacity: 5;
}

body h  {
    margin:20px;
    color:lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
footer{
    margin: 5% 40%;
    width: 100%;
   }

   .fa {
    padding:    20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    opacity: 0.6;
   }
   .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa-instagram{
    color:white;
  background:#d6249f 60%;
  }
  .fa:hover{
      opacity: 5;
  }
  .nav-links :hover{
    color: bisque;
    text;
}
